#mapone { height: 85%;
        width: 100%;

      }

#maptwo { height: 85%;
         width: 100%;

         }

body { margin-top: 2.5%;
      margin-bottom: 2.5%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      background-color: #b0d4e5;
      text-align: justify;
}


 p1 {float: left;
    width: 48%;
    }

 p2 {float: right;
    height:100%;
    width: 48%;
    font-size: 12pt
    }

p3 {float: left;
   width: 48%;
   }

p4 {float: right;
   height:100%;
   width: 48%;
   font-size: 12pt;
  }

#captions {
  text-align: left;
  font-size: 8pt;
}
